# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env config
.env

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Output
dist/
build/
